
# A collection of essential wires for the Mystorm board
# There is no dedicated reset on the Mystorm. Wire it Pin 81 = BUS_RSEL instead for testing purposes !

set_io oscillator  129
set_io resetq      63

# Terminal pins shared with PMOD 2
# set_io TXD     97
# set_io RXD     96

# Terminal pins directed towards STM PA2/PA3:
# set_io TXD  90 # connected via BUS_RD3 to PA3 = USART1_RX AF7
# set_io RXD  88 # connected via BUS_RD2 to PA2 = USART1_TX AF7

# Terminal pins directed towards STM PA0/PA1:
set_io TXD  85 # connected via BUS_RD1 to PA1 = UART4_RX AF8
set_io RXD  88 # connected via BUS_RD0 to PA0 = UART4_TX AF8

# Boot SPI interface to the microcontroller
#
# set_io --warn-no-port SPI_MISO 67
# set_io --warn-no-port SPI_MOSI 68
# set_io --warn-no-port SPI_SCK  70
# set_io --warn-no-port SPI_CS   71

# Parallel Bus
#
# set_io --warn-no-port BUS_RD0  85
# set_io --warn-no-port BUS_RD1  87
# set_io --warn-no-port BUS_RD2  88
# set_io --warn-no-port BUS_RD3  90
# set_io --warn-no-port BUS_RD4  91
# set_io --warn-no-port BUS_RD5  93
# set_io --warn-no-port BUS_RD6  94
# set_io --warn-no-port BUS_RD7  95
# set_io --warn-no-port BUS_RD8  84
#
# set_io --warn-no-port BUS_RSEL 81  J1 /Reset connected to PC13
# set_io --warn-no-port BUS_RCLK 82
# set_io --warn-no-port BUS_RDIR 83


# pmod 1
set_io PORTA0  94
set_io PORTA1  91
set_io PORTA2  37 # just to compile
set_io PORTA3  38 # just to compile - these are switches

# pmod 2
set_io PORTA4  95
set_io PORTA5  93
set_io PORTA6  90
set_io PORTA7  87

# pmod 3
set_io PORTA8  105
set_io PORTA9  102
set_io PORTA10 99
set_io PORTA11 97

# pmod 4
set_io PORTA12 104
set_io PORTA13 101
set_io PORTA14 98
set_io PORTA15 96 

# pmod 5
set_io PORTB0   143
set_io PORTB1   114
set_io PORTB2   112
set_io PORTB3   107

# pmod 6
set_io PORTB4    144
set_io PORTB5    113
set_io PORTB6    110
set_io PORTB7    106

# pmod 7
set_io PORTB8   10
set_io PORTB9   9
set_io PORTB10  2
set_io PORTB11  1

# pmod 8
set_io PORTB12  8
set_io PORTB13  7
set_io PORTB14  4
set_io PORTB15  3

# pmod 9
set_io PORTC0   20
set_io PORTC1   19
set_io PORTC2   16
set_io PORTC3   15

# pmod 10
set_io PORTC4   18
set_io PORTC5   17
set_io PORTC6   12
set_io PORTC7   11

# pmod 11 
set_io PORTC8   34
set_io PORTC9   33
set_io PORTC10  22
set_io PORTC11  21

# pmod 12
set_io PORTC12  32
set_io PORTC13  31
set_io PORTC14  26
set_io PORTC15  25

# pmod 14 one row connector, shared with LEDs which are handled separately
set_io LED_K1  71
set_io LED_K2  67
set_io LED_K3  68
set_io LED_K4  70

# SRAM Interface

set_io SRAM_CS 23
set_io SRAM_WE 120
set_io SRAM_OE  29
set_io SRAM_UB 28
set_io SRAM_LB 24

set_io SRAM_D0  136
set_io SRAM_D1  135
set_io SRAM_D2  134
set_io SRAM_D3  130
set_io SRAM_D4  125
set_io SRAM_D5  124
set_io SRAM_D6  122
set_io SRAM_D7  121
set_io SRAM_D8   62
set_io SRAM_D9   61
set_io SRAM_D10  60
set_io SRAM_D11  56
set_io SRAM_D12  55
set_io SRAM_D13  48
set_io SRAM_D14  47
set_io SRAM_D15  45

set_io SRAM_A0  137
set_io SRAM_A1  138
set_io SRAM_A2  139
set_io SRAM_A3  141
set_io SRAM_A4  142
set_io SRAM_A5   42
set_io SRAM_A6   43
set_io SRAM_A7   44
set_io SRAM_A8   73
set_io SRAM_A9   74
set_io SRAM_A10  75
set_io SRAM_A11  76
set_io SRAM_A12 115
set_io SRAM_A13 116
set_io SRAM_A14 117
set_io SRAM_A15 118
set_io SRAM_A16 119
set_io SRAM_A17  78


